
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 data-arrow">
                   <a href="javascript:void(0)" onclick="$JSView.goToView('viewBooks'); loadBooks();">
                     <img src="images/down-arrow.png" alt="Voltar">
                   </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
                    <h1 id="nomeLivroUnidades"></h1>
                </div>
							</div>


							<!-- UNIDADES -->
              <div class="lista-loop">

                   <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1" id="listUnits">

                        <!-- UNIDADE 
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 unidade">
                            <a href="javascript:void(0)"  onclick="$JSView.goToView('viewBooksUnitsPdf'); nomeUnidade('Unit 8'); carregarPDF();">
                               <img src="images/unit8.png" alt="">
                            </a>
                        </div>
                         UNIDADE -->

                   </div>


              </div>
              <!-- LIVROS -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
