
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <br clear="both">
                <br clear="both">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12">
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 data-arrow">
                          <a href="javascript:void(0)" onclick="voltarAtividade();">
                           <img src="images/down-arrow.png" alt="Voltar">
                         </a>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h1 style="margin-top: 18px;padding-top: 0px;">Report Abuse</h1>
                        <br clear="both">
                      </div>
                </div>
              </div>


							<!-- GET HELP -->
              <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 get-help">
                 
                   <!-- BLOCO 1 -->
                   <div class="row2">
                     
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                       
                       <div class="form-group">
                         <label>Nome / <small>Name</small></label>
                         <input type="text" class="form-control" id="reportName" placeholder="" />
                       </div>
                       <br clear="both">

                     </div>

                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                       
                       <div class="form-group">
                         <label>E-mail / <small>E-mail Address</small></label>
                         <input type="text" class="form-control" id="reportEmail" placeholder="" />
                       </div>
                       <br clear="both">

                     </div>

                   </div>
                   <!-- BLOCO 1 -->


                   <!-- BLOCO 2 -->
                   <div class="row2">
                     
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       
                      <div class="form-group">
                         <label>O que você viu de errado nessa atividade / <br clear="both"><small>What you saw wrong in this activity</small></label>
                         <input type="text" class="form-control" id="reportAssunto" placeholder="" />
                       </div>
                       <br clear="both">

                     </div>

                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                       
                       &nbsp;

                      </div>
                      <br clear="both">

                   </div>
                   <!-- BLOCO 2 -->


                   <!-- BLOCO 3 -->
                   <div class="row2">
                     
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       
                       <div class="form-group">
                         <label>Descrição <small>Description</small></label>
                         <textarea class="form-control" rows="4" id="reportDescricao" placeholder=""></textarea>
                       </div>
                       <br clear="both">

                     </div>                     

                   </div>
                   <!-- BLOCO 3 -->

                   <p style="text-align: center;">
                       <button type="button" class="btn btn-primary btn-lg" id="btnReportAbuse" onclick="sendReportAbuse();" style="padding-bottom: 14px;width: 300px;">Send</button>
                     </p>

              </div>
              <!-- GET HELP -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
