
<jsv-content>

            <!-- PAGE CONTENT -->
            <div class="page-content">

							<div class="titulo-view">
                <h1>Add Access Key <br clear="both"><small style="display: block;line-height: 22px;font-size: 15px;padding-top: 15px;">
                 
                   Por favor inserir chave de acesso ao conteúdo<br clear="both">
                   Please inser contents access code 
                 
                 </small></h1>
                <br clear="both">
							</div>

							<!-- ACCESS KEY -->
              <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-12 col-xs-12 view-add-access-key">

                 <div class="form-group">
                   <input type="text" name="serial" class="form-control" placeholder="Insira a chave de acesso aqui / Enter the access key here" id="addAK" autocomplete="new-cod-access-key" style="text-transform: uppercase !important;text-align: center;color: #6B6B6B;font-family: 'Montserrat', sans-serif;font-weight: bold !important;">
                 </div>
                 <div class="form-group" style="text-align: right !important;font-family: 'granstander_cleanregular' !important;">
                   <a href="javascript:void(0)" onclick="$JSView.goToView('viewGetHelp'); sendToTop();" title="Ajuda / Help">Ajuda / Help</a>
                 </div>

                 <p style="text-align: center;">
                   <button type="button" class="btn btn-primary btn-lg" id="btnAddSerial" onclick="logadoAddAccessKey();" style="padding-bottom: 14px;width: 300px;">Ok</button>
                 </p>

              </div>
              <!-- ACCESS KEY -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
