
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <h1>Access Key</h1>
                <br clear="both">
							</div>

							<!-- ACCESS KEY -->
              <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 view-access-key">
               
                     <div class="table-responsive">
                             <table class="table table-hover">
                                 
                                 <thead>
                                   <th>Key</th>
                                   <th>Books</th>
                                   <th>Expiry date</th>
                                 </thead>

                                 <tbody id="usuarioAccessKey">

                                   <!-- LINHA 
                                   <tr>
                                     <td>
                                       00000000000000
                                     </td>
                                     <td>
                                       Magic Tree SB Level 1
                                     </td>
                                     <td>
                                       12/12/2019
                                     </td>
                                   </tr>
                                   LINHA -->                     

                                 </tbody>

                             </table>
                      </div> 

                 <div class="form-group text-right">
                    <a href="javascript:void(0)" title="Ajuda/Help" onclick="$JSView.goToView('viewGetHelp'); sendToTop();"><b>Ajuda / Help</b></a>
                 </div>

                 <br clear="both">

                 <p style="text-align: center;">
                       <button type="button" class="btn btn-primary btn-lg" id="btnAddSerial" onclick="procAddSerial();" style="padding-bottom: 14px;width: 135px !important;">Add Key</button>
                 </p>

              </div>
              <!-- ACCESS KEY -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
