
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <h1>Apagar Atividade</h1>
                <br clear="both">
							</div>

							<!-- CONFIRMAÇÃO SE É OU NÃO PARA APAGAR A ATIVIDADE -->
              <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 view-apagar-atividade text-center">
                                   

                <h3>Tem certeza que deseja apagar essa atividade?</h3>

                 <br clear="both">

                 <p style="text-align: center;">
                       <button type="button" class="btn btn-primary btn-lg" onclick="apagarAtividade(1)" style="padding-bottom: 14px;width: 172px !important;">sim, apagar</button>
                       <button type="button" class="btn btn-primary btn-lg" onclick="apagarAtividade(2)" style="padding-bottom: 14px;width: 172px !important;">não, cancelar</button>
                 </p>

              </div>
              <!-- CONFIRMAÇÃO SE É OU NÃO PARA APAGAR A ATIVIDADE -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
