
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 data-arrow">
                   <!--<a href="javascript:void(0)" onclick="$JSView.goToView('viewBooks');">
                     <img src="images/down-arrow.png" alt="Voltar">
                   </a>-->
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
                    <h1>Videos</h1>
                </div>

                <br clear="both">

                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                      <!--
                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 navegacao-game-left">
                        <a href="javascript:void(0)" title="Ir para a Unidade anterior">
                          <img src="images/game-esquerda.png" alt="">
                        </a>
                      </div>

                      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 game-nome-unidade">
                        <h3>Level 01 - Unit 1</h3>
                      </div>

                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 navegacao-game-right">
                        <a href="javascript:void(0)" title="Ir para a Próxima unidade">
                          <img src="images/game-direita.png" alt="">
                        </a>
                      </div>
                      -->

                  </div>

                <br clear="both">
                <br clear="both">

							</div>


							<!-- GAMES -->
              <div class="lista-loop" style="padding-top: 30px;">

                   <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1" id="areaVideosGeral">
                     
                   </div>


              </div>
              <!-- GAMES -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
