
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <h1>Training</h1>
                <br clear="both">
							</div>


							<!-- TREINAMENTO -->
              <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 trainamento">
                 
                   
                   <p style="font-size: 23px;text-align: center;">Em breve!</p>
                  

                  

              </div>
              <!-- TREINAMENTO -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
