
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 data-arrow">
                   <a href="javascript:void(0)" onclick="$JSView.goToView('viewGames'); desligarAllMusicas();">
                     <img src="images/down-arrow.png" alt="Voltar">
                   </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 text-center">
                    <h1 class="mobile-ajuste-margin">Memory Game</h1>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">&nbsp;</div>
                <br clear="both" />
							</div>

              <br clear="both" />

							<!-- AREA DE EDIÇÃO -->
              <div class="memory-game">
               <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 text-center">
                   <div class="game"></div>
                </div>
              </div>
              <!-- AREA DE EDIÇÃO -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
