
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <br clear="both">
                <br clear="both">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12">
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 data-arrow">
                          <a href="javascript:void(0)" onclick="$JSView.goToView('viewComunidade'); carregarAtividadesGeral(); desligarAllMusicas();">
                           <img src="images/down-arrow.png" alt="Voltar">
                         </a>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h1 style="margin-top: 18px;padding-top: 0px;">Activity</h1>
                        <br clear="both">
                      </div>
                </div>
              </div>


							<!-- TREINAMENTO -->
              <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 detalheAtividade">
                 
                   
                   <!-- CAIXA BRANCA DETALHE ATIVIDADE --> 
                   <div class="caixa-branca-detalhe-atividade">
                       
                       <!-- LINHA 1 -->
                       <div class="linha-1">
                          
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 actions-inner-atividade" id="actionsInnerAtividade">
                          </div>


                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                              
                              <div id="atividadeFotoPerfil"></div>
                              <span id="atividadeNomePerfil"></span>

                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 favoritar-atividade text-right" onclick="favoritarAtividade2();">
                             
                             <i class="fa fa-heart-o fa-2x" onclick="desfavoritarAtividadeInterna(this);"></i>

                          </div>

                       </div>
                       <!-- LINHA 1 -->

                       <!-- CONTEUDO PRINCIPAL -->
                       <div class="conteudo-principal text-center">
                          
                          <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12">
                             <br clear="both">
                              <h2 id="tituloDaAtividade"></h2>
                              <p id="textoDaAtividade">
                              </p>

                          </div>
                          <br clear="both">

                          <!-- BORDA DE SEPARAÇÃO -->
                          <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 borda-separacao-atividade">
                            <hr>
                          </div>
                          <br clear="both">
                          <!-- BORDA DE SEPARAÇÃO -->

                          <h2>weblinks</h2>

                          <p id="listaDeLinks"></p>


                          <!-- BORDA DE SEPARAÇÃO -->
                          <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 borda-separacao-atividade">
                            <hr>
                          </div>
                          <br clear="both">
                          <!-- BORDA DE SEPARAÇÃO -->

                          <h2>Files</h2>

                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 area-arquivos-carregados">
                          </div>



                       </div>
                       <!-- CONTEUDO PRINCIPAL -->



                   </div>
                   <!-- CAIXA BRANCA DETALHE ATIVIDADE -->

                   <!-- REPORT / AVALIAÇÕES E NUMERO DE VIEWS / COPY LINK -->
                   <div class="report-avaliacoes">
                     
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 coluna-um">
                       <a href="javascript:void(0)" title="report abuse" onclick="reportAbuse()">report abuse</a>
                     </div>

                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 coluna-dois text-center">
                       
                       <span class="rating-atividade">&nbsp;</span>

                       <br clear="both">
                       <span id="numeroDeViews"></span>
                     </div>

                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 coluna-tres text-right">
                       <!--<a href="javascript:void(0)" title="copy link">copy link</a>-->
                     </div>

                   </div>
                   <!-- REPORT / AVALIAÇÕES E NUMERO DE VIEWS / COPY LINK -->

                  

              </div>
              <!-- TREINAMENTO -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
