
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content" style="margin-top: -60px;">

							<div class="titulo-view">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 data-arrow">
                   <!--<a href="javascript:void(0)" onclick="$JSView.goToView('viewBooks');">
                     <img src="images/down-arrow.png" alt="Voltar">
                   </a>-->
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
                    <h1>GAMES</h1>
                </div>

                <br clear="both">

                  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">

                      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 navegacao-game-left">
                        <a href="javascript:void(0)" title="Ir para a Unidade anterior" onclick="retrocederNivel()">
                          <img src="images/game-esquerda.png" alt="">
                        </a>
                      </div>

                      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 game-nome-unidade">
                        <h3><span class="tiutloMobileGame visible-xs">Games</span>Level 0<span id="nivelGeralGames">1</span></h3>
                      </div>

                      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 navegacao-game-right" onclick="avancarNivel()">
                        <a href="javascript:void(0)" title="Ir para a Próxima unidade">
                          <img src="images/game-direita.png" alt="">
                        </a>
                      </div>

                  </div>

                <br clear="both">

							</div>


							<!-- GAMES -->
              <div class="lista-loop">

                   <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">

                        <!-- JOGO -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 caixa-game-chamada">
                          <a href="javascript:void(0)" onclick="loadMathingGame()" title="Game Match In Game">
                             <img src="images/mathinggame.png" alt="" />
                          </a>
                          <h5>Matching Game</h5>
                        </div>
                        <!-- JOGO -->

                        <!-- JOGO -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 caixa-game-chamada">
                          <a href="javascript:void(0)" onclick="loadMemoryGame()" title="Game Memory Card">
                             <img src="images/memorycard.png" alt="" />
                          </a>
                          <h5>Memory Game</h5>
                        </div>
                        <!-- JOGO -->

                        <!-- JOGO -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden-xs caixa-game-chamada">
                          <a href="javascript:void(0)" onclick="loadDragAndDrop()" title="Game Drag and Drop">
                             <img src="images/dragdrop.png" alt="" />
                          </a>
                          <h5>Drag and Drop</h5>
                        </div>
                        <!-- JOGO -->
                        <!-- JOGO -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xs-offset-3 visible-xs caixa-game-chamada">
                          <a href="javascript:void(0)" onclick="loadDragAndDrop()" title="Game Drag and Drop">
                             <img src="images/dragdrop.png" alt="" />
                          </a>
                          <h5>Drag and Drop</h5>
                        </div>
                        <!-- JOGO -->

                   </div>


              </div>
              <!-- GAMES -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
