
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <h1>Books</h1>
							</div>


							<!-- LIVROS -->
              <div class="lista-loop" id="listLivros">

                 <!-- LIVRO 
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 livro livro-disable">

                      <a href="javascript:void()" title="LEVEL 03  -  ACTIVITY BOOK" onclick="">
                         LEVEL 03  -  ACTIVITY BOOK
                      </a>

                      <div class="caixa-livro" style="background:url('images/03b.png') no-repeat;background-size:cover;background-position:center center;">
                           <a href="javascript:void()" title="LEVEL 03  -  ACTIVITY BOOK" onclick="$JSView.goToView('viewBooksUnits'); nomeLivro('LEVEL 03  -  ACTIVITY BOOK');">
                             &nbsp;
                           </a>
                           <img src="images/lock.png" alt="Livro Bloqueado" class="livroBloqueado">
                           <img src="images/lock2.png" alt="Desbloquear Livro" class="livroBloqueado2">
                      </div>

                 </div>
                  LIVRO -->

              </div>
              <!-- LIVROS -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
