
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 data-arrow">
                   <a href="javascript:void(0)" onclick="$JSView.goToView('viewGames'); desligarAllMusicas();">
                     <img src="images/down-arrow.png" alt="Voltar">
                   </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 text-center">
                    <h1 class="mobile-ajuste-margin">Matching Game<br><small></small></h1>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">&nbsp;</div>
                <br clear="both" />
							</div>

              <br clear="both" />
              <br clear="both" />

							<!-- AREA DE EDIÇÃO -->
              <div class="mathing-game">
               <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 text-center">
                   

                   <!-- ITENS -->
                    <div class="row2 itens-mathing-game">                      

                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 imagens-mathing" id="mathingGame1">
                        <a href="javascript:void(0)">
                          <img src="images/mathing-game-livro.png">
                        </a>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 imagens-mathing" id="mathingGame2">
                        <a href="javascript:void(0)">
                          <img src="images/mathing-game-mochila.png">
                        </a>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 imagens-mathing" id="mathingGame3">
                        <a href="javascript:void(0)">
                          <img src="images/mathing-game-vermelho.png">
                        </a>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 imagens-mathing" id="mathingGame4">
                        <a href="javascript:void(0)">
                          <img src="images/mathing-game-azul.png">
                        </a>
                      </div>

                    </div>
                    <!-- ITENS -->

                    <!-- TABELA DE ACERTOS -->
                    <div class="row2 tabela-acertos">

                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">

                        <span id="acerto1">
                          <img src="images/mathing-game-acerto.png" class="mathing-acerto">
                          <img src="images/mathing-game-erro.png" class="mathing-erro">
                        </span>

                        <span id="acerto2">
                          <img src="images/mathing-game-acerto.png" class="mathing-acerto">
                          <img src="images/mathing-game-erro.png" class="mathing-erro">
                        </span>

                        <span id="acerto3">
                          <img src="images/mathing-game-acerto.png" class="mathing-acerto">
                          <img src="images/mathing-game-erro.png" class="mathing-erro">
                        </span>

                        <span id="acerto4">
                          <img src="images/mathing-game-acerto.png" class="mathing-acerto">
                          <img src="images/mathing-game-erro.png" class="mathing-erro">
                        </span>

                      </div>
                      
                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-right play-audio-mathing">
                        <a href="javascript:void(0)" title="Clique para ouvir o audio" id="playMathingSound">
                          <img src="images/mathing-game-sound.png" class="diogenes-pulse">
                        </a>
                      </div>    


                    </div>
                    <!-- TABLEA DE ACERTOS -->

                    <!-- INSTRUÇÃO -->
                    <div class="row2 instrucao">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <p style="font-size:0.9em;padding-top: 40px;">
                           Clique sobre o icone do som, após ouvir o audio,<br> clique sobre a figura correspondente
                        </p>
                      </div>
                    </div>
                    <!-- INSTRUÇÃO -->

                </div>
              </div>
              <!-- AREA DE EDIÇÃO -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
