
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <h1>Teste de Transição</h1>
							</div>


							<p>
                <a href="javascript:void(0)" onclick="$JSView.goToView('viewBooks');">Voltando</a>
							</p>

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
