
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

							<div class="titulo-view">
                <h1>Manage Account</h1>
                <br clear="both">
							</div>


							<!-- MANAGE ACCOUNT -->
              <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 manage-account">
                 
                 <!-- BLOCO 1 -->
                 <div class="row2">
                   
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 upload-imagem-perfil">
                      <div id="manageContainerFotoPerfil"></div>
                      <a href="javascript:void(0)" onclick="uploadProfilePicture();" title="Upload Image">Upload profile picture</a>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                       
                       <div class="form-group">
                         <label>Nome completo do aluno/ <small>Student Full Name</small></label>
                         <input type="text" class="form-control" id="manageNome" placeholder="" autocomplete="new-campo1">
                       </div>
                       <br clear="both">

                       <div class="form-group">
                         <label>Nome completo do responsável/ <small>Full name of the person in charge</small></label>
                         <input type="text" class="form-control" id="manageNomeResponsavel" placeholder="" autocomplete="new-campo2">
                       </div>
                       <br clear="both">

                    </div>

                 </div>
                 <!-- BLOCO 1 -->


                 <!-- BLOCO 2 -->
                 <div class="row2">

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="form-group">
                       <label>Telefone/ <small>phone</small></label>
                       <input type="text" id="manageTelefone" class="form-control" placeholder="" autocomplete="new-campo3">
                    </div>
                    <br clear="both">

                    <div class="form-group">
                       <label>Endereço/ <small>address</small></label>
                       <input type="text" id="manageEndereco" class="form-control" placeholder="" autocomplete="new-campo4">
                    </div>
                    <br clear="both">

                     <div class="form-group">
                       <label>Escola / School</label>
                       <input type="text" name="escola" class="form-control" placeholder="" id="manageEscola"  autocomplete="new-campo5">
                     </div>
                     <br clear="both">


                     <div class="form-group">
                       <label>E-mail /  Email Address</label>
                       <input type="text" name="email" class="form-control" placeholder="" id="manageEmail"  autocomplete="new-campo6">
                     </div>
                     <br clear="both">

                     <div class="form-group">
                       <label>Senha / Password</label>
                       <input type="password" name="senha" class="form-control" placeholder="" id="manageSenha"  autocomplete="new-campo7">
                     </div>
                     <br clear="both">
                     
                     <div class="form-group text-right">
                        <a href="javascript:void(0)" title="Ajuda/Help" onclick="$JSView.goToView('viewGetHelp'); sendToTop();"><b>Ajuda / Help</b></a>
                     </div>

                     <br clear="both">


                     <p style="text-align: center;">
                       <button type="button" class="btn btn-primary btn-lg" id="btnManageAccount" onclick="procManage();" style="padding-bottom: 14px;width: 300px !important;">Edit</button>
                     </p>


                  </div>

                 </div>
                 <!-- BLOCO 2 -->

              </div>
              <!-- MANAGE ACCOUNT -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">


            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
